# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg

# Envs
.venv/
.env/

# Tooling
.ruff_cache/
.pytest_cache/
.mypy_cache/

# Data and logs
/data/*
!/data/.gitkeep
/logs/*
!/logs/.gitkeep
*.har

# OS
.DS_Store
